body{
    background-color: steelblue;
}
.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.CARP-section {
    background-color: slategrey;
    padding: 8px 0px 0px 0px;
}
.CARP-images {
    width: 360px;
}
.CARP-image{
    width: 350px;
    height: 496px;
    padding: 20px;
}
.CARP-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: normal;
}
.container{
    display: flex;
}